.u-section-1 .u-sheet-1 {
    min-height: 713px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: 262px;
    margin: 31px auto 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 513px;
    background-image: url("/data/healthcare/Abhijeet/HealthcareFlaskAPP/static/images/default-image.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-container-layout-1 {
    /* box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); */
    padding: 30px;
  }
  
  .u-section-1 .u-image-2 {
    min-height: 513px;
    background-image: url("/data/healthcare/Abhijeet/HealthcareFlaskAPP/static/images/default-image.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-container-layout-2 {
    /* box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); */
    padding: 30px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 31px 720px 0 158px;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin: -24px 158px 31px 720px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 851px;
    }
  
    .u-section-1 .u-text-1 {
      width: 222px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 423px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 423px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 620px;
      margin-left: 58px;
    }
  
    .u-section-1 .u-text-3 {
      width: 262px;
      margin-right: 58px;
      margin-left: 620px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 774px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 324px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 324px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 458px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
      margin-left: 458px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1281px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 486px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 486px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 278px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 278px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 999px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 306px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 306px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 78px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 78px;
    }
  }