.u-section-1 .u-sheet-1 {
  min-height: 499px;
}

.u-section-1 .u-text-1 {
  width: 262px;
  font-size: 3.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 222px;
  }
}