.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 728px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 627px;
  height: 484px;
  margin: 213px 19px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5.625rem;
  margin: -697px 395px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-image-1 {
    width: 547px;
    height: 406px;
    margin-top: 174px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-top: -572px;
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-image-1 {
    width: 345px;
    height: 265px;
    margin-top: 333px;
    margin-right: -9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -543px;
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 928px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 468px;
    height: 344px;
    margin-top: 462px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -751px;
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    height: 247px;
    margin-top: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -447px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
  min-height: 852px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px calc(((100% - 1140px) / 2) + 82px) 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 27px 162px 0;
}

.u-section-2 .u-shape-1 {
  height: 202px;
  margin-top: 158px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-list-1 {
  min-height: 504px;
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  width: 1033px;
  grid-gap: 27px 27px;
  margin: -309px auto 60px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  width: 267px;
  height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  width: 267px;
  height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  width: 267px;
  height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 12px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 772px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-top: 118px;
  }

  .u-section-2 .u-list-1 {
    min-height: 403px;
    width: 940px;
    height: auto;
    margin-top: -289px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1312px;
  }

  .u-section-2 .u-text-1 {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    min-height: 926px;
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1448px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 838px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
    margin-top: -927px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -85px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -85px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -85px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1791px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 61px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1080px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -1233px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 29px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 671px;
}

.u-section-3 .u-text-1 {
  width: 220px;
  margin: 50px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 509px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  margin-top: 32px;
  margin-bottom: 28px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 360px;
  margin-top: -24px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 14px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 360px;
  margin-bottom: 0;
  margin-top: -24px;
  margin-right: 0;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 14px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 360px;
  margin-top: -24px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-list-1 {
    min-height: 420px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 285px;
    margin-right: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 305px;
  }

  .u-section-3 .u-image-2 {
    height: 285px;
    margin-top: -99px;
    margin-right: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 119px;
  }

  .u-section-3 .u-image-3 {
    height: 285px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-3 .u-list-1 {
    min-height: 965px;
    grid-template-columns: repeat(2, calc(50% - 5.25px));
  }

  .u-section-3 .u-image-1 {
    height: 338px;
    margin-right: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 358px;
  }

  .u-section-3 .u-image-2 {
    height: 338px;
    margin-top: -46px;
    margin-right: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 66px;
  }

  .u-section-3 .u-image-3 {
    height: 338px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(1, calc(100% - 0px));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 586px;
    margin-right: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 606px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 586px;
    margin-top: 202px;
    margin-right: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: -182px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 586px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 361px;
    margin-right: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 381px;
  }

  .u-section-3 .u-image-2 {
    height: 361px;
    margin-top: -23px;
    margin-right: initial;
  }

  .u-section-3 .u-text-4 {
    margin-top: 43px;
  }

  .u-section-3 .u-image-3 {
    height: 361px;
    margin-right: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 818px;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-4 .u-map-1 {
  height: 406px;
  animation-duration: 1000ms;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 166px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 122px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 258px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-map-1 {
    margin-top: 35px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 96px;
  }
}